name: Deploy to SST

on:
  push:
    branches:
      - main
      - dev

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup-bun

      - uses: ./.github/actions/setup-aws-sst
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}

      - run: bun x sst deploy --stage ${{ github.ref_name }}
