name: Deploy to SST Preview

on:
  pull_request:
    types: [opened, synchronize, closed]

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-bun
      - uses: ./.github/actions/setup-aws-sst
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
      - name: Deploy to AWS via SST
        uses: mfyuu/sst-preview-action@v1
